<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnAllIssues="true"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnWarning="true"
    failOnPhpunitWarning="true"
    failOnPhpunitDeprecation="true"
>
    <testsuites>
        <testsuite name="laminas-stdlib Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <source restrictDeprecations="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
